.button {
    all: unset;
    background-color: #7e7ed4;
    color: white;
    padding: 5px 10px;
    margin: 50px;
    box-shadow: 5px 5px 5px 0 #ccc;
    display: inline-block;
    transform: scale(1);
    transition: transform 0.5s;
}

.button:hover {
    transform: scale(1.5);
}