.myField {
  color: #000000;
  background-color: #E65858;
  -webkit-transition: background-color 1s ease-in-out .5s;
  -moz-transition: background-color 1s ease-in-out .5s;
  transition: background-color 1s ease-in-out .5s;
}

.myField:hover {
  background-color: #00FF55;
}