<template>
  <div class="menge">
    <div class="btn minus" @click="decrement">-</div><input type="text" class="menge" :value="number"><div class="btn plus" @click="increment">+</div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      number: 5
    }
  },
  methods: {
    decrement: function() {
      console.log('minus')
      this.number--
    },
    increment: function() {
      console.log('plus')
      this.number++
    }
  }
}
</script>

<style lang="scss">
  .btn {
    background-color: #eee;
    cursor: pointer;
  }

  .btn, .menge {
    display: inline-block;
  }
</style>

